@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

:root{
    --primary-color:#05C7C3;
    
}
body{
    margin:0rem 0rem;
    padding:0;
}
textarea,body{
    font-family: 'Sniglet', cursive;
    background-color: rgb(34, 33, 33);
    color:white;
}
  
.nav{
    background-color:var(--primary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding:0rem ;
    margin:0px;
}
#outputText{
    
    height:10vh;
    
}
textarea{
    resize:none;
    overflow:auto;
    border:0;
    border-bottom:2px solid;
    max-width:500px;
   
    margin:auto;
    padding:0rem 1rem;
}  
 h1{
     padding: 1rem 1rem;
     margin:0;
} 
.out-window{
    padding:1rem 1rem;
    max-width:500px;
    margin:auto;
    text-align: center;
    background-color: rgb(57, 58, 58);
     border-radius:4rem ;

}


footer{
    background-color: var(--primary-color);
    border-top-left-radius:4rem ;
    border-top-right-radius: 4rem;
   
    padding:0.5rem 1rem;
    margin:auto;
    text-align: center;
}



.ul-list{
    text-decoration: none;
    
}
.list-ele{
    display: inline;
}


.icon{
    width:30px;
    padding: 0rem 1rem;

}
















.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Sniglet', cursive;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 5px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }